#resume-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100%;
}

#resume-footer {
    padding: 20px;
    text-align: center;
}

.social-img
{
	width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.border-bottom-gray {
    padding-bottom: 10px;
    border-bottom: solid 1px darkgray;
}

.work-position {
    margin-bottom: 40px;
}

.project {
    margin-bottom: 40px;
}

header li 
{
    padding-top:2% ;
    padding-bottom:2%;
}